<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-group">
  <label for="InputEmail">
    <%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter email"%>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

<div class="form-group">
  <label for="exampleInputPassword1">
    <%= f.label :password %></label>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"InputPassword", placeholder:"Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check">
      <%= f.check_box :remember_me, class:"form-check-input" %>
       <label class="form-check-label" for="exampleCheck1"><%= f.label :remember_me %></label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
