<%= form_with(model: item, local: true, :url => { :action => :bidupdate }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label for="Dead" class="col-sm-2 col-form-label">
    <%= form.label :bid %></label>
    <div class="col-sm-10">
    <%= form.number_field :bid, min: item.bid, class:"form-control", id:"Dead", placeholder:"Deadline" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Bid", class:"btn btn-dark"%>
  </div>
<% end %>
