<div class="right">
<%= link_to 'Show', @item, class:"center btn btn-dark" %> |
<%= link_to 'Back', items_path, class:"center btn btn-dark" %>
</div>
<br>

<div class="card" id="card1">
  <div style="width:400px; height:auto">
    <%= link_to image_tag(@item.image, style:"width:100%"), items_path%>
  </div>
  <strong><h3><%= @item.title %></h3></strong>
  <p><strong>Description</strong><%= @item.description %></p>

  <p class="bid">
    <strong>Current Bid:</strong><%= @item.bid %></p>
  <p>
    <strong>Contact:</strong>
    <%= @item.contact %>
  </p>
  <p>
    <strong>Deadline:</strong>
    <%= @item.deadline %>
  </p>
  <p>
    <strong>Posted by</strong>
    <%= User.where(id: @item.user_id).first.email %>
  </p>

  <% if @item.claim %>
  Claimed By:
  <%= User.where(id: @item.bid_id).first.email %>
  <%end%>


<%if @item.active %>
<%= render 'formbid', item: @item %>
<% else %>
Bid ended
<% if @item.bid_id == current_user.id && !@item.claim%>
<%= render 'claim', item: @item %>
<%end%>
<%end%>

</div>
