<div class="right">
<% if(@item.user_id==current_user.id) %>
<%= link_to 'Edit', edit_item_path(@item), class:"center btn btn-dark" %> |
<%else%>
<%= link_to 'Bid|Claim', items_bid_path(@item), class:"btn btn-dark" %> |
<%end%>
<%= link_to 'Back', items_path, class:"center btn btn-dark" %>
</div>
<br>

<div class="card" id="card1">
  <div style="width:400px; height:auto">
    <%= link_to image_tag(@item.image, style:"width:100%"), items_path%>
  </div>
  <strong><h3><%= @item.title %></h3></strong>
  <p><strong>Description</strong><%= @item.description %></p>

  <p class="bid">
    <strong>Current Bid:</strong><%= @item.bid %></p>
  <p>
    <strong>Contact:</strong>
    <%= @item.contact %>
  </p>
  <p>
    <strong>Deadline:</strong>
    <%= @item.deadline %>
  </p>
  <p>
    <strong>Posted by</strong>
    <%= User.where(id: @item.user_id).first.email %>
  </p>

  <% if @item.claim %>
  Claimed By:
  <%= User.where(id: @item.bid_id).first.email %>
  <%end%>
</div>
