<div class="center jumbotron" id="head">
<h1>Items</h1>
</div>
<div class="right">
<%= link_to 'Back', items_path, class:"center btn btn-dark" %>
</div>
<br>

<div class="grid-container"">
<% @items.each do |item| %>
<div class="card">
  <div class="bg-img"><%= link_to image_tag(item.image, style:"width:100%"), items_path%></div>
  <div class="content">
    <h4><%=item.title%></h4>
    <p><%=item.description%></p> <p><%=item.bid%></p> <%= link_to "Show", item, class:"btn btn-dark" %></div>
</div>

<% end %>
</div>
